LOG_LEVEL=INFO
VITE_API_URL=/api
INFERENCE_URLS=http://node2.gonka.ai:8000
CACHE_DB_PATH=cache/cache.db

HTTPS_PORT=443

POLL_CURRENT_EPOCH_INTERVAL=30
POLL_JAIL_STATUS_INTERVAL=120
POLL_NODE_HEALTH_INTERVAL=60
POLL_REWARDS_INTERVAL=60
POLL_WARM_KEYS_INTERVAL=300
POLL_HARDWARE_NODES_INTERVAL=600
POLL_EPOCH_TOTAL_REWARDS_INTERVAL=600
POLL_PARTICIPANT_INFERENCES_INTERVAL=600
POLL_MODELS_API_INTERVAL=300

